<!-- Skip nav -->
<nav class="skip-nav">
    <ul>
        <li><a accesskey="c" href="#main" title="Skip to main content">Skip to content</a></li>
        <li><a accesskey="n" href="#navigation" title="Skip to primary navigation">Skip to navigation</a></li>
    </ul>
</nav>
<!-- /Skip nav -->

<!-- Header -->
<header class="wrap header-main margin-th">

    <!-- Logo -->
    <a class="coop-logo" aria-label="Homepage" href="/">
        {% include logo.html %}
    </a>
    <!-- /Logo -->


    <a href="/" class="identifier">Health Care</a>

    

    <a href="#" class="mobile-menu-toggle">
        <span class="icon icon-menu"></span><span class="mobile-menu-text">Menu</span>
    </a>
    {% if page.tags == 'signedin' %}
    <div id="access_bar">
        <div id="small_action_pod">
            <ul>
                <li>
                    <!--<a title="" href="/" class="default" target="_self">Sign out</a>-->
                </li>
            </ul>
        </div>
    </div>
    {% endif %}

</header>
<!-- /Header -->

{% if page.tags == 'signedin' %}
<!-- Primary Navigation -->
 <nav id="navigation" class="nav-primary">
    <div class="wrap">

        <ul>
            <li><a{% if page.id == 'results' %} class="active"{% endif %} href="results.html">Your Results</a></li>
            <!--<li><a href="/">Sign out</a></li>-->
        </ul>

    </div>
</nav>
<!-- /Primary Navigation -->

{% endif %}

