<!-- Skip nav -->
<nav class="skip-nav">
    <ul>
        <li><a accesskey="c" href="#main" title="Skip to main content">Skip to content</a></li>
        <li><a accesskey="n" href="#navigation" title="Skip to primary navigation">Skip to navigation</a></li>
    </ul>
</nav>
<!-- /Skip nav -->

<!-- Header -->
<header class="wrap header-main margin-th">

    <!-- Logo -->
    <a class="coop-logo" aria-label="Homepage" href="/">
        {% include logo.html %}
    </a>
    <!-- /Logo -->

    {% comment %}
    <a href="/" class="identifier">Digital</a>
    {% endcomment %}
    
    {% comment %}
    <a href="#" class="mobile-menu-toggle">
        <span class="icon icon-menu"></span><span class="mobile-menu-text">Menu</span>
    </a>
    {% endcomment %}

</header>
<!-- /Header -->

<!-- Primary Navigation -->
<!-- <nav id="navigation" class="nav-primary">
    <div class="wrap">

        <ul>
            <li><a{% if page.id == 'index' %} class="active"{% endif %} href="/">Home</a></li>
        </ul>

    </div>
</nav> -->
<!-- /Primary Navigation -->
