$base-asset-url: '/assets/';

@import 'coop-toolkit';

// Temp fix to get the kit homepage looking better
.header-main .coop-logo {
  //margin-left: 0;
  //padding: 10px 10px 10px 0;
}

svg:not(:root) {
  overflow: hidden;
}

svg#Layer_1 {
  x: 0px;
  y: 0px;
  width: 16px;
  height: 16px;
}

.icon {
  display: inline-block;
  background-size: 100% auto;
  font-size: 10px;
  svg {
    width: 100%;
    height: auto;
  }
}

.tile-card .icon {
  right: 20px;
  bottom: 20px;
  position: absolute;
  width: 35px;
  height: 16px;
  svg {

    path {
      fill: #ddd;
    }
  }
}

.icon-forward-arrow-button {
  width: 32px;
  height: 32px;
  background-image: url('data:image/svg+xml;charset%3DUS-ASCII,%3C%3Fxml%20version%3D%221.0%22%20enc…2%2C0.5%2C0%2C0.8C12%2C8.5%2C11.9%2C8.5%2C11.7%2C8.5z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  &::before {
    content: none;
  }
}


.tile-card-list ul {
  list-style: none;
  margin: 10px -10px 0 0;
  padding: 0;

  li {

    a {
      display: block;
      position: relative;
      border-bottom: 1px solid #e6e6e6;
      color: #282828;
      padding: 10px 21px 10px 0;
      font-size: 18px;

      @media (min-width: 960px){
        font-size: 20px;
      }

      &:hover {
        color: #00B1E7;
        border-color: #00B1E7;
        .icon svg path {
          fill: #00B1E7;
        }
      }

      .icon {
        margin: 3px 0 0 5px;
        vertical-align: top;
        height: 14px;
        width: 14px;
        right: 10px;
        svg {
          height: 14px;
          path {
            fill: #c4c4c4;
          }
        }
      }
    }
  }
}


.nav-primary ul a.active {
  background: #F3F3F3;
  z-index: 3;
}

#access_bar {
  color: #f3f3f3;
  text-align: right;
  margin: 10px 10px 0 0;
  position: absolute;
  right: 0;
  font-size: 15px;
}