$base-asset-url: '/assets/';

@import 'coop-toolkit';

// Temp fix to get the kit homepage looking better
.header-main .coop-logo {
  //margin-left: 0;
  //padding: 10px 10px 10px 0;
}

svg:not(:root) {
  overflow: hidden;
}

svg#Layer_1 {
  x: 0px;
  y: 0px;
  width: 16px;
  height: 16px;
}

.icon {
  display: inline-block;
  background-size: 100% auto;
  font-size: 10px;
  svg {
    width: 100%;
    height: auto;
  }
}

.tile-card .icon {
  right: 20px;
  bottom: 20px;
  position: absolute;
  width: 35px;
  height: 16px;
  svg {

    path {
      fill: #ddd;
    }
  }
}

.icon-forward-arrow-button {
  width: 32px;
  height: 32px;
  background-image: url('data:image/svg+xml;charset%3DUS-ASCII,%3C%3Fxml%20version%3D%221.0%22%20enc…2%2C0.5%2C0%2C0.8C12%2C8.5%2C11.9%2C8.5%2C11.7%2C8.5z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  &::before {
    content: none;
  }
}


.tile-card-list ul {
  list-style: none;
  margin: 10px -10px 0 0;
  padding: 0;

  li {

    a {
      display: block;
      position: relative;
      border-bottom: 1px solid #e6e6e6;
      color: #282828;
      padding: 10px 21px 10px 0;
      font-size: 18px;

      @media (min-width: 960px){
        font-size: 20px;
      }

      &:hover {
        color: #00B1E7;
        border-color: #00B1E7;
        .icon svg path {
          fill: #00B1E7;
        }
      }

      .icon {
        margin: 3px 0 0 5px;
        vertical-align: top;
        height: 14px;
        width: 14px;
        right: 10px;
        svg {
          height: 14px;
          path {
            fill: #c4c4c4;
          }
        }
      }
    }
  }
}


.nav-primary ul a.active {
  background: #F3F3F3;
  z-index: 3;
}

#access_bar {
  color: #f3f3f3;
  text-align: right;
  margin: 10px 10px 0 0;
  position: absolute;
  right: 0;
  font-size: 15px;
}

.register-check-card__cards {
  border-width: 4px 0;
  border-color: orange;
  border-style: solid;
  padding: 16px 0;
}

.register-check-card__member-card-images {
  display: table;
  border-collapse: collapse;
  width: 100%;
  padding-bottom: 16px;
}

.register-check-card__member-card-image--block {
  display: table-cell;
  vertical-align: top;
}

.register-check-card__member-card-image--left {
  padding-right: 8px;
}

.register-check-card__member-card-image--center {
  padding-left: 4px;
  padding-right: 4px;
}

.register-check-card__member-card-image--right {
  padding-left: 8px;
}

.register-check-card__member-card-image--right {
  display: block;
  width: 100%;
  height: auto;
}

// date fields

form select {
  width: auto;
}

.date-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 610px;
}

.date-fields input {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 31%;
}

.find-address-button, .find-address-input {
  margin-bottom: 16px;
}

form .label-inline {
  width: 31%;
}

.membership__postcode-lookup-component-column {
  position: relative;
  float: left;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

// dl override

dl {
  //max-width: 75%;
  dd {
    font-family: "AvenirNextLTW01-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  a {
    padding: 0!important;
    dt {
      background-color: black;
      color: white !important;
      padding: 16px 20px;
    }
    dd {
      padding: 16px 20px;
      p {
        color: $blue-bright !important;

      }
    }
    h3 {
      color: $red-dark;
      color: white !important;

      &.elevated {
        color: orange;
      }
    }
  }
}


// back link


.link-back {
  display: inline-block;
  position: relative;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.1428571429;
  //margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 14px;
  color: #0b0c0c !important;
  text-decoration: none;
  border-bottom: 1px solid #0b0c0c;
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 6px solid #0b0c0c;
    border-bottom: 5px solid transparent;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
  }
}

.btn-card {
  font-size: 1em;
  display: inline-block;
  padding: 16px 20px;
  //color: #00729A;
  font-family: "AvenirNextLTW01-Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: left;
  border: 0;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.4),#6e6e6e 0px 0px 1px inset;
  transition: all 0.15s linear;
  outline: none;
  margin-bottom: 1em;
  p {
    color: black;
  }
}

.margin-th {
  margin-top: 8px;
}

.split-image {
  display: inline-block;
  width :100%;
  @media (min-width: 420px){
    width: 49%!important;
  }
}

.ads-text {
  color: #6e6e6e;
  text-decoration: underline;
  font-size: 65%;
  font-style: italic;
  text-align: center;
  display: block;
  margin: 8px 0 0 0;
  border-bottom: none;
}

.cf, .carbon-wrap {
  zoom: 1;
}
.carbon-wrap {
   display: block;
   background: #f1f1f1;
   padding: 15px 15px 10px 15px;
  @include clearfix;
 }

.carbon-wrap a {
  display: block;
  text-decoration: none;
  border-bottom: none;
}
.carbon-text {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14.079999923706055px;
  font-style: normal;
  font-weight: bold;
  min-width: 120px;
  color: #06c;
}

.carbon-img {
   float: left;
   margin-right: 10px;
 }

.carbon-poweredby {
  color: #6e6e6e;
  text-decoration: underline;
  font-size: 65%;
  font-style: italic;
  text-align: center;
  display: block;
  margin: 8px 0 0 0;
}